# Configuración local de IntelliJ IDEA
.idea/
*.iml

# Archivos generados por Maven
target/

# Archivos Java compilados
*.class

# Logs
*.log

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Datos locales de H2
*.mv.db
*.trace.db