# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Archivos generados por Maven
target/

# Java compilado y logs
*.class
*.log

# Eclipse
.classpath
.project
.settings/

# Visual Studio Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Datos locales de H2
*.mv.db
*.trace.db